.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 24px;
}

.app-title {
  font-weight: 600;
  font-size: 18px;
}

.menu a {
  font-weight: 500;
}

.active {
  border-bottom: 2px solid white;
}

.spacer {
  flex: 1 1 auto;
}

.right-section button {
  margin-left: 8px;
}
